//重写登录样式 2021/5/18 LiPeiYi
.login-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;

  * {
    user-select: none;
  }
}

.login-left {
  flex: 0 0 77%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right {
  flex: 1;
}

.login-text {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #bf2722;
}

.login-main {
  margin: 14vh 60px 0;

  > img {
    width: 50px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #000000;
    margin: 25px 0 15px;
    letter-spacing: 7px;
  }

  .login-slogan {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #BF2722;
    margin: 0;
  }
}

.login-form {
  .el-form-item {
    margin-bottom: 20px;
  }

  .el-input__inner {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
  }

  .icon {
    margin: 0 8px;
    font-size: 16px !important;
  }

  .box {
    position: relative;

    .login-code {
      width: 99px;
      height: 34px;
      position: absolute;
      top: 2px;
      right: 6px;
    }

    .login-code-img {
      width: 100%;
      height: auto;
    }
  }

  .login-submit {
    width: 100%;
    height: 40px;
    background-color: #BF2722;
    border-color: #BF2722;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
  }

  .login-submit:hover {
    box-shadow: 2px 3px 10px #c1c1c1;
  }
}
